:root {
  --background: #F8F4F1;
  --foreground: #171717;
  --bg-sec: #EAEAEA;
  --brand: #f7b629;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2A2A2A;
    --foreground: #F8F4F1;
    --bg-sec: #3A3A3A;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
